:root {
   --side-padding: 16.5%;
   --font: Roboto;
   --dark-bg-color-hero-footer: #1f2937;
   --hero-main-text-size: 48px;
   --hero-main-text-color: #f9faf8;
   --hero-main-text-weight: 900;
   --hero-secondary-text-size: 18px;
   --hero-secondary-text-color: #e5e7eb;
   --header-logo-text-size: 24px;
   --header-logo-text-color: #f9faf8;
   --button-and-cta-bg-color: #3882F6;
   --information-header-text-size: 36px;
   --information-header-text-color: #1F2937;
   --information-header-text-weight: 900;
   --quote-section-bg-color: #E5E7EB;
   --quote-text-size: 36px;
   --quote-text-weight: lighter;
   --quote-text-style: italic;
   --quote-text-color: #1F2937;
}

/* === RESET === */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* === BASE STYLES === */
body {
   font-family: var(--font);
   /* line-height: 1.5; */
   background-color: white;
   color: black;
}

/* === LINKS === */
a {
   text-decoration: none;
   color: inherit;
}

/* === IMAGES === */
img {
   max-width: 100%;
   height: auto;
   display: block;
}

/* === BUTTONS === */
button {
   font-family: inherit;
   font-size: 1rem;
   border: none;
   cursor: pointer;
}

/* === LISTS === */
ul,
ol {
   list-style: none;
}

/* Custom CSS */
/* Custom CSS */
/* Custom CSS */

/* HEADER */

.header .logo-text {
   font-size: var(--header-logo-text-size);
   color: var(--header-logo-text-color);
}

.header, .header > .link-group {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header > .link-group {
   gap: 1rem;
}

.header, .hero-banner {
   padding: 1rem var(--side-padding);
   background-color: var(--dark-bg-color-hero-footer);
   color: var(--hero-main-text-color);
}

/* HERO BANNER */

.hero-banner {
   display: flex;
   gap: 1rem;
   padding: 4rem var(--side-padding);
}

.hero-banner .text-group {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.hero-image-container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: gray;
}

.hero-banner img {
   text-align: center;
}

.hero-banner h1 {
   font-size: var(--hero-main-text-size);
   font-weight: var(--hero-main-text-weight);
   color: var(--hero-main-text-color);
}

.hero-banner p {
   font-size: var(--hero-secondary-text-size);
   color: var(--hero-secondary-text-color);
}

.hero-banner button {
   background-color: var(--button-and-cta-bg-color);
   align-self: flex-start;
   padding: 10px 2rem;
   border-radius: 0.5rem;
   color: var(--hero-secondary-text-color);
}

/* RANDOM INFO */

.random-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   padding: 2rem 25% 4rem 25%;
}

.random-info h2 {
   font-weight: var(--information-header-text-weight);
   color: var(--information-header-text-color);
   font-size: var(--information-header-text-size);
   text-align: center;
}

.random-info .illustrations {
   display: flex;
   gap: 1rem;
}

.random-info .illustrations > div{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
}

.random-info .illustrations img {
   /* height: 5rem; */
   /* width: 5rem; */
   width: 100%;
   aspect-ratio: 1 / 1;
   border: 3px solid var(--button-and-cta-bg-color);
   border-radius: 0.5rem;
}

.random-info .illustrations div > p {
   text-align: center;
   color: var(--quote-text-color);
   font-size: var(--hero-secondary-text-size);
}

/* QUOTE SECTION */

.quote-section {
   padding: 6rem 25% 5rem 25%;
   background-color: var(--quote-section-bg-color);
}

.quote-section .quote {
   font-size: var(--quote-text-size);
   font-style: var(--quote-text-style);
   font-weight: var(--quote-text-weight);
   color: var(--quote-text-color);
}

.quote-section .attribution {
   text-align: right;
   font-weight: bolder;
   color: var(--quote-text-color);
}